{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block page_title %}Главная страница{% endblock %}

{% block content %}
<p>Добро пожаловать на главную страницу!</p>
<p>Здесь вы можете протестировать работу древовидного меню.</p>
<ul>
    <li>Основное меню находится в правой колонке</li>
    <li>При клике на пункты меню происходит переход по соответствующим URL</li>
    <li>Активный пункт меню подсвечивается синим цветом</li>
    <li>Над активным пунктом все родительские элементы развернуты</li>
    <li>Первый уровень вложенности под активным пунктом также развернут</li>
</ul>
{% endblock %}